EPA112A Programming for Data Science (2024/25 Q1)
Group Project
### Title of the project
Group 1:
Helena Angerla, 5300401
Derk de Brauw, 4726731
name, number

# Introduction
''' when we present the problem we could use the UN's sustainable development goals and the point 8 (Decent work and wconomic growth) (link: https://www.un.org/sustainabledevelopment/economic-growth/)'''

In developing countries, rapid economic growth is often associated with increased CO2 emissions, raising concerns about environmental sustainability. This study aims to analyze the relationship between economic growth, measured by gross domestic product (GDP), and CO2 emissions as an indicator of environmental sustainability. The hypothesis is that at lower levels of GDP, economic growth contributes to higher emissions, but after reaching a certain threshold, further growth could lead to a reduction in emissions—a concept known as the Environmental Kuznets Curve (EKC). The research seeks to identify this tipping point, using global datasets such as World Development Indicators and CO2 emissions databases.

# Datasets
presenting the data we use.

Present the data that you are going to use. Your data must come from at least two sources (one additional source aside from the World Bank data).

GDP: 
The data used in this report is drawed from UNECE: annual growth rate of real GDP per capita. The data coved 56 countries over the year 200 untill the year 2023. (source: https://w3.unece.org/PXWeb2015/pxweb/en/STAT/STAT__92-SDG__01-sdgover/008_en_sdGoal8_r.px/)

CO2:
Other data that will be used is from European Commission the emissions database for global atmospheric reasearch (EDGAR). where the CO2 emissions of all world countries can be found from year 1970 to 2022. (source: https://edgar.jrc.ec.europa.eu/report_2022#intro)

Third source Kaggle, a AI and ML community. where we could find the CO2 emissions for countries and the data is self updating. (Source: https://www.kaggle.com/datasets/ulrikthygepedersen/co2-emissions-by-country)

# Preprocessing
Explain how you clean, format and do any pre-processing work that you find useful, making the data useful for your goals. Implement the steps that you describe in python. Basically, how we will manage the data.

In [ ]:
'''Process data with Pandas dataframe --> we get the headers for easier navigation.
   get from files (1) CO2 per country (2) GDP per country (3) CO2 per GDP
   from the other file get the GDP for country
   combine the two csv to one data frame   '''

In [6]:
# Importing libraries
import numpy as np
import pandas as pd

In [33]:
# importing the data files
GDP = pd.read_csv('c0001047_20241018-094743.csv', delimiter=',', header=1)
CO2 = pd.read_excel('EDGARv7.0_FT2021_fossil_CO2_booklet_2022.xlsx', sheet_name='fossil_CO2_totals_by_country')
CO2_GDP = pd.read_excel('EDGARv7.0_FT2021_fossil_CO2_booklet_2022.xlsx', sheet_name='fossil_CO2_per_GDP_by_country')

# Exploration
Exploratory data analysis – get to know your data.

In [ ]:
'''
top 10 countries - highest and lowest
average and mean
how many countries are above the cutoff value
'''

In [21]:
GDP.shape

(56, 26)

In [34]:
CO2

,Substance,EDGAR Country Code,Country,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,CO2,ABW,Aruba,0.081876,0.081889,0.095415,0.099630,0.089089,0.105139,0.096041,...,1.618441,1.588689,1.615728,1.607879,1.578644,1.315458,1.347594,1.387156,1.144333,1.274134
1,CO2,AFG,Afghanistan,1.739541,1.737823,1.715749,1.742813,2.198551,2.037627,1.899895,...,10.238064,8.484183,8.016290,8.361849,7.635914,8.145255,9.106997,8.082724,8.183718,8.347669
2,CO2,AGO,Angola,8.952570,8.538308,10.388519,11.372301,11.833761,10.930423,7.317385,...,24.186843,27.822325,30.407844,32.594130,30.691660,26.129882,24.048619,25.325994,23.055844,24.450057
3,CO2,AIA,Anguilla,0.002168,0.002168,0.002264,0.002109,0.002350,0.002584,0.002434,...,0.026023,0.027941,0.027896,0.028005,0.028340,0.029062,0.028223,0.027580,0.022779,0.025409
4,CO2,AIR,International Aviation,169.300997,169.300997,179.147487,186.892096,179.793331,173.866020,174.273791,...,472.721119,480.909126,496.627697,524.654035,548.207777,582.230490,609.630469,617.763229,338.144083,390.166250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,CO2,ZMB,Zambia,3.670158,3.827327,4.235602,4.549516,4.584571,4.756705,4.757159,...,4.353041,4.560796,4.995499,5.314527,5.783061,7.265927,8.268376,7.084711,6.618359,7.010965
209,CO2,ZWE,Zimbabwe,9.669320,9.616592,9.164476,10.612888,10.303574,9.088979,10.059936,...,12.458577,12.756765,12.647276,12.875895,11.312592,10.540316,12.730372,12.088218,11.443394,12.293227
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,CO2,EU27,EU27,3542.825533,3553.664800,3697.504907,3887.115359,3833.301897,3744.235427,3996.612030,...,3262.094670,3182.700438,3039.771438,3097.973498,3106.408744,3130.214112,3065.688131,2922.049472,2605.119130,2774.926525
212,CO2,GLOBAL TOTAL,GLOBAL TOTAL,16120.846944,16044.985082,16846.420428,17841.770662,17788.085297,17726.890288,18731.800773,...,35702.300084,36188.848770,36412.197346,36301.976569,36392.322786,37014.179184,37876.882570,37993.282002,35960.674107,37857.575755

# Visualization
Use multiple types of visualization on the data that make sense for your goal.

In [ ]:
'''
3 charts
(1) x-axis: year, y-axis: CO2, y-axis2: GDP - linear
(2) x-axis: year, y-axis: CO2 per GDP - linear 
(3) x-axis: GDP, y-axis:CO2 (window average of 2 or 5 years) - scatter plot
expected to see a linear growth or a hill like figure
search for the cutoff value when the economy is good and the tipping point when the CO2 values are decreasing
'''

# Machine Learning
Use at least one machine learning technique to make meaningful predictions over (part of) the data.

# Discussion
Interpret your results in relation to your research question. Were there any surprises in your research? How reliable do you think your results are? Are there any
limitations to your analysis?

# Conclusion
What did you learn?

# Sources

Crippa, M., Guizzardi, D., Banja, M., Solazzo, E., Muntean, M., Schaaf, E., Pagani, F., Monforti-Ferrario, F., Olivier, J., Quadrelli, R., Risquez Martin, A., Taghavi-Moharamli, P., Grassi, G., Rossi, S., Jacome Felix Oom, D., Branco, A., San-Miguel-Ayanz, J. and Vignati, E., CO2 emissions of all world countries - JRC/IEA/PBL 2022 Report, EUR 31182 EN, Publications Office of the European Union, Luxembourg, 2022, doi:10.2760/730164, JRC130363.